@import "../../../../styles/variables.scss";

.systemPanel {
  h2 {
    font-size: 18px;
    margin-bottom: 1em;
  }
  .group {
    margin-bottom: 1em;
  }
  :global {
    .dewicon {
      font-size: 24px;
    }
  }
}

@mixin with-top-border {
  margin: $gap 0;
  padding-top: $gap;
  border-top: 1px solid $border-color;
}

.statusTips,
.suggestions,
.legend {
  @include with-top-border;
}

.statusTip {
  position: relative;
  padding-left: 30px;

  :global {
    .dewicon {
      position: absolute;
      left: 0;
      top: -8px;
    }
  }
}
