.assets-predict {
  position: relative;
  svg {
    width: 100%;
    height: 100%;
  }
  .MSA {
    position: absolute;
    top: 15%;
    right: 15%;
    :global .ant-select-selection__placeholder {
      color: inherit;
    }
  }
  :global .dew-pager {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
  }
}
