@import "../../../../styles/variables.scss";

.iconLoad,
.iconDanger {
  font-family: 'DewIcon';
  font-size: 0.7em;
}

.iconDanger {
  fill: $brand-danger;
}

.font10 {
  font-size: 1em;
}

.font8 {
  font-size: 0.8em;
}