@import "../../../../styles/variables.scss";

.tr {
  padding: 5px;

  &:global(.active) {
    background-color: #ecf6fd;
  }
}

.arrow {
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid $gray;
}
