.coreCircle {
  width: 400px;
  height: 400px;
  background-color: #dbdbdb;
  border-radius: 50%;
  padding-top: 10px;
  text-align: center;
}

.wrapper {
  position: relative;
  cursor: pointer;
}

.info {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translate(-50%, 0);
}
