@import "../../../../styles/variables.scss";

.manualPanel {
  :global {
    .dewicon {
      font-size: 16px;
    }
  }
}

@mixin with-top-border {
  margin: $gap 0;
  padding-top: $gap;
  border-top: 1px solid $border-color;
}

.focusInfo {
  @include with-top-border;
}

.progress {
  color: $green;
}
